AddDefaultCharset UTF-8

php_flag display_errors On
php_value mbstring.internal_encoding UTF-8
php_flag magic_quotes_gpc Off
php_flag magic_quotes_runtime Off
php_flag register_globals Off

php_value memory_limit 128M
php_value uploaded_file_maxsize 50M
php_value post_max_size 50M
php_value max_input_time 3000

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]

<IfModule dir_module>
    DirectoryIndex index.php
</IfModule>

